.container-fluid .footer {
    background-color: $primarioOscuro;
    padding-top: 20px;
}
.logo-social {
    align-items: center;
}
.footer__texto {
    color: $blanco;
    size: 3px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}