.contenedor {
    margin: 0 auto;
    background-color: $primarioOscuro;
}
@media (min-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: space-between;
        flex: 0 0 calc(33.3% - 10px);
    }
} 


.imagenes {
    max-width: 100%;
    margin-bottom: 10px;
}

.contenedor__imagenes1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .contenedor__imagenes1 {
        flex-direction: row;
    }
}
.contenedor__imagenes2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .contenedor__imagenes2 {
        flex-direction: row;
    }
}

.texto__imagen {
    color: $blanco;
    margin: 0 auto;
    font-size: 14px;
    padding: 10PX 10px;
    width: 100%;
    height: 100%;
}
@media (max-width: 1600px) {
    .texto__imagen {
        flex: 0 calc(33.3% - 10px);
    }
}